name: build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node: [8, 10, 12]

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: npm install
      - run: npm run format:check
      - run: npm run build
